.banner {
    background-image: url('../img/collection_top.webp');
    background-size: cover;
    height: 25vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}

.banner p {
    color: white;
}