.img1{
    background-image: url("../img/master-slide-01_1920x570.webp");
    height: 500px;
    width: 100%;
    background-position: center;
}
.img2{
    background-image: url("../img/master-slide-02_1920x570.webp");
    height: 500px;
    width: 100%;
    background-position: center;
}
.img3{
    background-image: url("../img/master-slide-04_1920x570.webp");
    height: 500px;
    width: 100%;
    background-position: center;
}
.img1::after{
    position: absolute;
    content: "SLIDE 1";
    top: 300px;
    left: 45%;
    font-size: 2em;
    color: white;
}
.img2::after{
    position: absolute;
    content: "SLIDE 2";
    top: 300px;
    left: 45%;
    font-size: 2em;
    color: white;
}
.img3::after{
    position: absolute;
    content: "SLIDE 3";
    top: 300px;
    left: 45%;
    font-size: 2em;
    color: white;
}
.btnSlide{
    width: 200px;
    height: 100%;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slideContainer{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.select{
    height: 60px;
    width: 60px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items:  center;
    transform: rotate(-45deg);
    opacity: 0.6;
}
.test{
    font-size: 2em;
}