.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    padding: 8vh 30vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, textarea {
    padding: 10px;
}

form button {
    width: 100px;
    height: 35px;
    border-radius: 5vh;
    border: none;
    background-color: #222222;
    color: white;
}

form button, h2 {
    margin: 15px 0;
}