.drop-item {
    display: flex;
    padding: 10px 0;
    gap: 10px;
    border-bottom: 1px solid rgb(204, 201, 201);
}

.drop-text {
    text-align: start;
    text-transform: capitalize;
}

.drop-img {
    width: 60px;
    height: 60px;
}

.drop-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.drop-text h2 {
    font-size: 0.8rem;
    font-weight: normal;
}

.drop-text h3 {
    font-size: 0.6rem;
    font-weight: normal;
    color: grey;
} 

