footer {
    background-color: #F0F0F0;
    color: grey;
    font-size: 14px;
}

.ftr-1 {
    display: grid;
    grid-template-columns: 40% 1fr 1fr;
    padding: 10vh 20vh;
    justify-content: center;
    gap: 15vh;
}

.ftr-1 h4 {
    color: black;
    margin-bottom: 5vh;
}

.ftr-1 ul {
    margin-top: 5vh;
}


#intouch {
    text-align: center;
}

#intouch ul {
    display: flex;
    justify-content: center;
    gap: 5vh;
}

.ftr-2 {
    text-align: center;
    padding: 5vh;
}

footer section li {
    padding: 5px 0;
}