nav {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 5vh;
}

nav ul, .icones{
    display: flex;
    align-items: center;
    gap: 3vh;
}

.active {
    color: #E65540;
}