.cart-container {
    margin: 5vh 15vh;
    display: grid;
    gap: 10px;
}

.cart-title {
    padding: 2% 4%;
    display: grid;
    grid-template-columns: 10% 20% 20% 25% 1fr;
    gap: 15px;
}

.cart-title h3 {
    font-size: 0.9rem;
}