.item-qty {
    display: flex;
}

.item-qty button {
    width: 30px;
    height: 40px;
    text-align: center;
    background-color: #E6E6E6;
    cursor: pointer;
}

.item-qty button:hover {
    background-color: #0000002d;
}

.item-qty input {   
    text-align: center;
    width: 45px;
    border: 2px solid #E6E6E6;
}