#solde {
    width: 100%;
    background-color: #F5F5F5;
    height: 5vh;
    font-size: 0.8rem;
    color: rgb(31, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
}

#solde span {
    font-weight: bold;
}