@media screen and (max-width: 768px) {
    .products {
        grid-template-columns: 1fr !important;
    }
    .ftr-1 {
        grid-template-columns: 1fr !important;
        text-align: center;
    }
}